# piotao custom files
SDL
attic
*.d
tests/testAverage
tests/testData
tests/testDlist
tests/testMatrix
tests/testNumerics
tests/testOptions
tests/testPixels
tests/testStack
tests/testVariance
tests/testVector

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
